body {
    font-family: 'Poppins';
    background-color: #fff;
    margin: 0;
    padding: 20px;}
  .container {
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 32px 4px 44px rgba(36, 37, 38, 0.06);
    border: 1px solid rgba(36, 37, 38, 0.2);
    border-radius: 16px;}
  h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #333;}
  .description {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;}
  .description-two {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    color: #333;}
  .file-input {
    text-align: center;
    padding: 20px;
    border: 2px dashed #ccc;
    margin-bottom: 20px;}
  .file-input:hover {
    cursor: pointer;
    background: #f9f9f9;}
  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #242526;
    color: #ffffff;
    border: 2px solid #242526;
    margin-bottom: 20px;
    border-radius: 4px;}
  .submit-btn:hover, #submit-two:hover {
    cursor: pointer;
    background: #ffffff;
    color: #242526;}
  .submit-btn:disabled, #submit-two:disabled {
    background: #f4f4f4;
    color: #242526;
    border: 2px solid #f4f4f4;}
  .grey-box {
    background-color: rgba(36, 37, 38, 0.05);
    padding: 20px;
    width: 100%;
    border-radius: 4px;
    position: relative;}
  .total-cost, .total-cost-two, .total-cost-three, .total-cost-four, .total-cost-five, .proposal-one, .proposal-two {
    text-align: left;
    margin-bottom: 20px;}
  .summary, .proposals {
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;}
  .disclaimer {
    font-size: 12px;
    text-align: left;}
  .calculating {
    font-weight: bold;
    position: absolute;
    right: 0;
    text-align: right;
    font-size: 20px;
    margin-right: 20px;}
  .answer, .answer-two, .answer-three, .answer-four, .answer-five, .answer-proposal {
    font-weight: bold;
    text-align: right;
    font-size: 16px;
    margin-right: 20px;
    position: absolute;
    right: 0;}
.formform {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 0px;}
.disclaimertwo {
    padding-top: 10px;
    font-style: italic;
    font-size: 12px;
    text-align: left;}
.second-des {
    text-align: left;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;}
.answer-proposal-two {
    text-align: right;
    font-size: 16px;
    margin-right: 20px;
    position: absolute;
    right: 0;}
#email-input{
    width: 242px;
    height: 38px;
    padding: 8px;
    border-radius: 4px;
    float: left;}
#submit-two {
    width: 200px;
    height: 38px;
    background: #242526;
    color: #ffffff;
    right: 0;
    border: 2px solid #242526;
    margin-bottom: 20px;
    border-radius: 4px;
    float: right;}
